/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Larger font for mobile */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; /* Larger font for mobile */
    width: 100%; /* Full-width button */
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
